name: CI

on:
  schedule:
  - cron: '0 10 * * *' # every day at 10am
  push:
    branches:
    - main
    tags:
    - 'v*.*.*'
  pull_request:
    branches:
    - main
  merge_group:

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      security-events: write

    steps:
    - name: Check out Git repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up JDK 17
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Cache Local Maven Repo
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: ~/.m2/repository
        key: maven-${{ hashFiles('pom.xml') }}

    - name: Initialize CodeQL
      uses: github/codeql-action/init@9e907b5e64f6b83e7804b09294d44122997950d6 # v4
      with:
        languages: java
        queries: security-and-quality

    - name: Build
      run: mvn -B verify

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@9e907b5e64f6b83e7804b09294d44122997950d6 # v4

  deploy:
    runs-on: ubuntu-24.04
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
      packages: write

    steps:
    - name: Check out Git repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up JDK 17
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Cache Local Maven Repo
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
      with:
        path: ~/.m2/repository
        key: maven-${{ hashFiles('pom.xml') }}

    - name: Maven Settings
      uses: s4u/maven-settings-action@894661b3ddae382f1ae8edbeab60987e08cf0788 # v4.0.0
      with:
        servers: |
          [{"id": "github", "username": "${{ github.actor }}", "password": "${{ secrets.GITHUB_TOKEN }}"}]

    - name: Deploy
      run: mvn deploy -DskipTests -DskipITs

    - name: Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
